<p>friends are great!</p>
<div class="container">
    <form method="POST" (ngSubmit)="submitForm(form)">
        <mat-form-field>
            <input type="text" matInput placeholder="Enter your full name" formControlName="name" #fullName>
            <mat-error *ngIf="form.get('name')?.hasError('required')">Full name is mandatory</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input type="email" matInput placeholder="Enter your email address" formControlName="email" #fullName>
            <mat-error *ngIf="form.get('email')?.hasError('required')">Email is mandatory</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email')">Email format is incorrect</mat-error>
        </mat-form-field>

        <br>
        <mat-form-field>
            <textarea matInput formControlName="address" #address></textarea>
            <mat-icon matSuffix>contact_mail</mat-icon>
        </mat-form-field>

        <br>
        <mat-form-field>
            <input formControlName="birthdate" [matDatepicker]="picker">
            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>

</div>