<h1>ViewChild in Angular</h1>
<br><br>
<app-viewchild></app-viewchild>
<button (click)="changeViewchildText()">Change Child Text</button>
<h1></h1>
<app-test [parentData]="greeting" (eventEmitter)="AddItem($event)"></app-test>
<br><br>
<div>Items from test component: {{Item}}</div>
<hr>
<div class="row my-5">
    <div class="col text-end">
        Status:
    </div>
    <div class="col">
        <span class="badge bg-success" *ngIf="isOnline">Online</span>
        <span class="badge bg-danger" *ngIf="!isOnline">Offline</span>
    </div>
</div>